@using Core.Interfaces;

@model IEnumerable<IProcessingTask>

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    @if (Model != null)
    {
        foreach (var task in Model)
        {
            <div class="card col-sm-3">
                <div class="card-body">
                    <h5 class="card-title">@task.TaskId</h5>
                    <p class="card-text">Current status: @task.CurrentStatus</p>
                    <p class="card-text">BornTime: @task.BornTime</p>
                    <p class="card-text">ProcessedBy: @task.ProcessedBy</p>
                    <p class="card-text">ProcessedTime: @task.ProcessedTime ms</p>
                </div>
            </div>
        }
    }
</div>